@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
*{
	font-family: 'Noto Sans', sans-serif;	
	outline: 1px solid  red;
}
header{
	height: 100vh;
	background:linear-gradient(right , rgba(68, 64, 65, 0.52) 0, rgba(101, 131, 112, 0.49) 50%), ;
	background-image:url(../extra/house.jpg);
	background-size: cover;
	background-position:center right;
}
#nav{
	padding: 10px;
	background-color: #D2D2D3;
	border-radius:0px;
	border: 1px #D2D2D3;

}
 a:hover{
	color: rgb(34, 95, 63);

}
.header-frase-arlo{
	color: black;
	margin-top: 10%;
	margin-left: -5%;
	font-size: 25px;
}
#span{
	font-size:70px
}
.botones{
	margin:1% 0 0 20%;
}
.btn{
	background: rgb(24, 141, 78);
	color: white;
	padding: 10px 30px ;
	margin-left: 20px;
}
#video_background { 
	position: absolute; 
	bottom: 0px; 
	right: 0px; 
	min-width: 100%; 
	min-height: 100%; 
	width: auto; 
	/* height: 80vh;  */
	z-index: -1000; 
	overflow: hidden; 
	/* margin-top: 50px; */
}
#video_pattern { 
	background:#fff; 
	position: fixed; 
	opacity:4; 
	left: 0px; 
	top: 0px; 
	width: 100%; 
	height: 100%; 
	z-index: 1; 
}
#aplicacion{
	height: 130vh;
	background: url(../extra/arlo-phone.jpg);
	background-size: cover;
	background-position: center top;
	color: white;
	font-size: 15px;
	font-weight: bold;
}
#descripcion{
		background: rgba(248, 248, 248, 0.77);
}
#arlo{
	height: 60vh;
	width: 50%;
	margin-top: 10vh;

}
#texto{
	margin-top: 10vh;
}
.titulo{
	color:rgb(24, 141, 78);
}

	


