@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
*{
	font-family: 'Noto Sans', sans-serif;	
	/* outline: 1px solid  red; */
}
header{
	height: 100vh;
	background:linear-gradient(right , hsla(345, 3%, 26%, 0.52) 0, rgba(101, 131, 112, 0.49) 50%), ;
	background-image:url(../extra/house.jpg);
	background-size: cover;
	background-position:center right;
}
#nav{
	padding: 10px;
	background-color: #D2D2D3;
	border-radius:0px;
	border: 1px #D2D2D3;

}
 a:hover{
	color: rgb(34, 95, 63);

}
.header-frase-arlo{
	color: black;
	margin-top: 10%;
	margin-left: -10%;
	font-size: 25px;
}
#span{
	font-size:70px
}
.botones{
	margin:1% 0 0 20%;
}
.btn{
	background: rgb(24, 141, 78);
	color: white;
	padding: 10px 30px ;
	margin-left: 20px;
}
#aplicacion{
	height: 100vh;
	/* background: url(../extra/arlo-phone.jpg); */
	/* background-color: #D2D2D3; */
	background-size: cover;
	background-position: center top;
	color: black;
	font-size: 15px;
	font-weight: bold;
}
#celular{
	/* width: 100%; */
	background-image: url(../extra/mobile_slider_phone_background.png);
}
#phone{
	/* margin-top: 1%; */
	margin-left: 3%;
}
#desc-app{
	padding: 10px;
	margin-bottom: 5px;
}
#descripcion{
		background: rgba(248, 248, 248, 0.77);
		height: 90vh;
}
#arlo{
	height: 60vh;
	width: 50%;
	/* margin-top: 10vh; */

}
#texto{
	margin-top: 10vh;
}
.titulo{
	color:rgb(24, 141, 78);
}
i{
	color: rgb(24, 141, 78);
}
footer{
	background-color: #D2D2D3;
    height: 90px;
    padding-top: 20px;
}
#img-footer{
	margin-left: 20px;
}
.footer__info{
	padding-left: 250px;
	color: rgba(0, 0, 0, 0.71);
}

	


